footer{
    background-color: $background-whitesmoke;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

    padding: 2rem;

    img{
        width: 50px;
        cursor: pointer;
    }

    div{
        display: flex;
        gap: 30px;
    }

   
}