.offert{

    .hidden{

    padding:50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;

    height: 95vh;

    background-color: $background-blue;
    color: $color-white;
   

    .carousel_container{
        width: 750px;
        margin: auto;
        border: 2px solid $color-white;
        overflow: hidden;
        position: relative;

        #prevButton{
            position: absolute;
            top: 50%;
            z-index: 10;
            left: 5%;
            cursor: pointer;
        }

        #nextButton{
            position: absolute;
            top: 50%;
            z-index: 10;
            right: 5%;
            cursor: pointer;
        }

        #nextButton,
        #prevButton{
            width: 40px;
            opacity: 0.5;
        }

    .carousel_slide{
        display: flex;
        width: 100%;
        height: 500px;
        img{
            width: 800px;
            height: 500px;
        }
        
    }

}
    }
}