.opinions{
    background-color:$background-blue;
    
    padding:45px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: $background-white;
    text-align: center;

    &_container{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &_item{
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background-color: $background-whitesmoke;
            color:$color-dark;
            padding: 1.5rem;
            width: 70%;
            img{
                width: 50px;
            }
            .quote{
                font-size: 25px;
            }
        }
    }

}